# Must have python and python-pip before running
# Use
# $ sudo pip install -r requirements.txt
# to  install all these depenencies.

flask
flask-wtf
WTForms
flask-bootstrap
passlib

# not dependencies
gunicorn
virtualenv
