<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- Tell Internet Explore to use the latest rendering engine... aka: edge-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Set the page to the device width and zoom level to one.-->
		<meta name="viewport" content="width = device-width, initial-scale = 1">

		<title>ESGF</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<style media="screen">
			.container{
				width: 60%;
			}
			.navbar{
				background-color: #E3FBFF
			}
			.hosted_by{
				float:right;
			}
			.powered_by{
				float: right;
				padding-left: 480px;
			}
			.btn{
				width: 100px;
			}

			.page{
				display: none;
			}
			.active{
				display: inherit;
			}

		</style>
	</head>

	<body>
		{% include 'includes/_navbar.html' %}
		<div class="container">
			{% block body %}{% endblock %}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src={{ url_for('static', filename="main.js") }}></script>
	</body>
</html>
