{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}ESGF Setup{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

{% endblock %}
{% block body %}
{% include 'includes/_navbar.html' %}
<div class="container">

	<form method="POST" action="/esgfForm">
		<!-- Mirror Selection -->
		<div class="page active">
			<H3>Distribution Mirror </H3>
			{{ wtf.form_field(form.distribution_mirror) }}
			<!-- Next Button-->
			<input type="button" value="Next" class="btn btn-default next">
		</div>

		<div class='header'>
			<span><h4>Mirror Configuration</h4></span>
		</div>

		<!-- Node Configuration-->
		<div class="node-cofig">
			<H3> Node Configuration</H3>
		    {{ wtf.form_field(form.organization_name) }}
		    {{ wtf.form_field(form.organization_id) }}
		    {{ wtf.form_field(form.short_name) }}
		    {{ wtf.form_field(form.long_name) }}
		    {{ wtf.form_field(form.namespace) }}
		    {{ wtf.form_field(form.peer_group) }}
		    {{ wtf.form_field(form.default_peer_node) }}
		    {{ wtf.form_field(form.hostname) }}
		    {{ wtf.form_field(form.ip_address) }}
		    {{ wtf.form_field(form.qualifie_domain) }}
		    {{ wtf.form_field(form.email) }}
		    {{ wtf.form_field(form.password) }}
		    {{ wtf.form_field(form.password_confirm) }}
		    {{ wtf.form_field(form.complete_with_root_pass) }}
		    <!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div>

		<!-- Database-->
		<div class="page">
			<H3> Database Configuration</H3>
			{{ wtf.form_field(form.is_external) }}</div>
			{{ wtf.form_field(form.db_con_string) }}</div>
			{{ wtf.form_field(form.low_priv_acc) }}</div>
			<div id="password_p_usr">{{ wtf.form_field(form.password_p_usr) }}</div>
			<div id="password_postgress">{{ wtf.form_field(form.password_postgress) }}</div>
			<div>{{ wtf.form_field(form.db_port) }}</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div>

		<!-- Tomcat-->
		<div class="page">
			<H3> Tomcat Configuration</H3>
			<div>{{ wtf.form_field(form.install_tomcat) }}</div>
			<div class='tom'>{{ wtf.form_field(form.tomcat_usr) }}</div>
			<div class='tom' id="tomcat_password">{{ wtf.form_field(form.tomcat_password) }}</div>
			<div class='tom' >{{ wtf.form_field(form.redirect_to_manager) }}</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div>

		<!-- DomainName-->
		<div class="page">
			<H3> DomainName Configuration</H3>
			<div>{{ wtf.form_field(form.dn_to_use) }}</div>
			<div id="keystore_password">{{ wtf.form_field(form.keystore_password) }}</div>
			<div id="keystore_password_confirm">{{ wtf.form_field(form.keystore_password_confirm) }}</div>
			<div>{{ wtf.form_field(form.cleared_ip) }}</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div>

		<!-- Globus-->
		<div class="page">
			<H3> Globus Configuration</H3>
			<div>{{ wtf.form_field(form.install_globus) }}</div>
			<div class='glob'>{{ wtf.form_field(form.backup_globus) }}</div>
			<div class='glob'>{{ wtf.form_field(form.register_gridftp) }}</div>
			<div class='glob'>{{ wtf.form_field(form.globus_usr) }}</div>
			<div class='glob' id="globus_password">{{ wtf.form_field(form.globus_password) }}</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div>

		<!-- Optional Installations -->
		<div class="page">
			<H3> Optional Installation </H3>
			<div>{{ wtf.form_field(form.esgcet) }}</div>
			<div>{{ wtf.form_field(form.thredds) }}</div>
			<div>{{ wtf.form_field(form.dashboard) }}</div>
			<div>{{ wtf.form_field(form.openid) }}</div>
			<div class="hide_ob">{{ wtf.form_field(form.openid_bkup) }}</div>
			<div>{{ wtf.form_field(form.security) }}</div>
			<div>{{ wtf.form_field(form.idp) }}</div>
			<div>{{ wtf.form_field(form.search) }}</div>
			<div>{{ wtf.form_field(form.security_schema) }}</div>
			<div class="hide_ss">{{ wtf.form_field(form.security_schema_bkup) }}</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div>

		<!-- Certificate-->
		<div class="page">
			<H3> Certificate Configuration</H3>
			<div>{{ wtf.form_field(form.gen_certificate) }}</div>
			<div>{{ wtf.form_field(form.host_ip) }}</div>
			<div>{{ wtf.form_field(form.public_ip) }}</div>
			<div>{{ wtf.form_field(form.use_external_idp) }}</div>
			<div>{{ wtf.form_field(form.fqdn) }}</div>
			<div>{{ wtf.form_field(form.keystore_certificate) }}</div>
			<div>{{ wtf.form_field(form.regenerate_certificate) }}</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="submit" value="Submit" class="btn btn-default">
		</div>
	</form>

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='main.js')}}"></script>
{% endblock %}
</div>
{% endblock %}