{% extends 'base_layout.html' %}

{% block body %}
	<div class="page-header text-center">
	<h1 >ESGF Installer Setup</h1>
	</div>

		<form action="" method="POST">

										<!-- Page 1: MAIN-->
		<div class="page active">
			<p class="lead" >Etiam vel risus nec nulla hendrerit rhoncus eget quis mi. Fusce nisi ante, dignissim at lacus ac, imperdiet malesuada sapien. In lobortis condimentum diam, quis molestie odio pretium eget. </p>

			<div class="form-group">
				<label>{{ data['Set']['main'][0]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['main'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<select class="form-control" name='esgf_mirror'>
					<option selected>{{ data['Mirrors'][0]}}</option>
					<option value="{{ data['Mirrors'][1]}}">{{ data['Mirrors'][1]}}</option>
					<option value="{{ data['Mirrors'][2]}}">{{ data['Mirrors'][2]}}</option>
					<option value="{{ data['Mirrors'][3]}}">{{ data['Mirrors'][3]}}</option>
				</select>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['main'][1]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['main'][1]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" placeholder="LLNL" name ='organization_name'>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['main'][2]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['main'][2]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" placeholder="8.8.8.8" name ='Installation_IP'>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['main'][3]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['main'][3]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" placeholder="xxxxxxxx" name ='admin_password'>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['main'][4]['title'] }}
					<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['main'][4]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" placeholder="xxxxxxxx"  name ='admin_conf_password'>
			</div>

			<div class="form-group">
				<div class="checkbox">
			      <label>
			        <input type="checkbox" class="password_handler" name="special"> Use this password for all root configuration <a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['main'][4]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
			      </label>
			    </div>
			</div>

			<!-- Next Button-->
			<input type="button" value="Next" class="btn btn-default next">
		</div><!-- Page 1 end-->


										<!-- PAGE 2: NODE-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['node'][0]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['node'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" placeholder="Hercules" name='qualified_DN'>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['node'][1]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['node'][1]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input class="form-control" type="text" placeholder="Sammy" name='short_DN'>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['node'][2]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['node'][2]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input class="form-control" type="text" placeholder="discriptivelongname" name='long_DN'>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['node'][3]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['node'][3]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" placeholder="OnePiece" name='name_space'>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['node'][4]['title'] }}
					<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['node'][4]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" placeholder="LLNL" name='peer_group'>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['node'][5]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['node'][5]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" placeholder="default" name='default_peer_group'>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['node'][6]['title'] }}
				<a href="#" data-toggle="popover"  data-placement="auto right" data-trigger="focus" data-content="{{ data['Set']['node'][6]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input class="form-control" type="text" placeholder="Candy" name='hostname'>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['node'][7]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['node'][7]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input class="form-control" type="text" placeholder="johndoe@example.com" name='admin_email'>
			</div>
			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page 2 end-->

										<!-- Page 3: DATABASE-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['database'][0]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['database'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check">
			      <label class="form-check-label">
			        <input type="radio" class="form-check-input" name="is_database_external" value="yes" checked>
			        Yes
			      </label>
			    </div>

			    <div class="form-check">
			      <label class="form-check-label">
			        <input type="radio" class="form-check-input" name="is_database_external" value="no">
			        No
			      </label>
			    </div>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['database'][1]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['database'][1]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input class="form-control" type="text" value="The red string of fate." name='database_con_string'>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['database'][2]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['database'][2]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input class="form-control" type="text" value="Hunger Games!" name='low_priv_acc'>
			</div>

			<div class="hide_pass" class="form-group">
				<label>{{ data['Set']['database'][3]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['database'][3]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input class="form-control" type="password" value="password" name='postgress_password_urs'>
			</div>

			<div class="hide_pass" class="form-group">
				<label>{{ data['Set']['database'][4]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['database'][4]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input class="form-control" type="password" value="password" name='postgress_password'>
			</div>

			<div class="hide_pass" class="form-group">
				<label>{{ data['Set']['database'][5]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['database'][5]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="password" class="form-control" value="password" name="postgress_pass_confirm">
			</div>

			<div class="form-group">
				<label>{{ data['Set']['database'][6]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['database'][6]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text"  value="45679" class="form-control" name="postgress_port">
			</div>

			<div class="form-group">
				<label>{{ data['Set']['database'][7]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['database'][7]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text"  value="951267317238" class="form-control" name="organization_id">
			</div>
			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page 3 end-->

										<!-- Page 4: TOMCAT-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['tomcat'][0]['title'] }}
					<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['tomcat'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="install_tomcat"  value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="install_tomcat"  value="no"> No
				  </label>
				</div>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['tomcat'][1]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['tomcat'][1]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text"  value="Micheal" class="form-control" name="tomcat_urs">
			</div>

			<div class="hide_pass" class="form-group">
				<label>{{ data['Set']['tomcat'][2]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['tomcat'][2]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="password"  value="password" class="form-control" name="tomcat_password">
			</div>

			<div class="form-group">
				<label>{{ data['Set']['tomcat'][3]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['tomcat'][3]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="add_usr"  value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="add_usr"  value="no"> No
				  </label>
				</div>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['tomcat'][4]['title'] }}
					<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['tomcat'][4]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="esg_redirect"  value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="esg_redirect"  value="no"> No
				  </label>
				</div>
			</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page FOUR end-->

										<!-- Page 5: ESGCET-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['esgcet'][0]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['esgcet'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="esgcet" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="esgcet" value="no"> No
				  </label>
				</div>
			</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page 5 end-->

										<!-- Page 6: THREDDS-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['thredds'][0]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['thredds'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="threads" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="threads" value="no"> No
				  </label>
				</div>
			</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page 6 end-->


										<!-- Page 7: DASHBOARD-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['dashboard'][0]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['dashboard'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="dashboard" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="dashboard" value="no"> No
				  </label>
				</div>
			</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page seven end-->

										<!-- Page 8: DOMAINNAME-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['domainName'][0]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['domainName'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="distinguished_name" value="OU" checked> ESFGF.ORG
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="distinguished_name" value="O"> ESGF
				  </label>
				</div>
			</div>

			<div class="hide_pass" class="hide_pass" class="form-group">
				<label>{{ data['Set']['domainName'][1]['title'] }}
					<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['domainName'][1]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="password" class="form-control" value="password" name="keystore_pass">
			</div>

			<div class="hide_pass" class="hide_pass" class="form-group">
				<label>{{ data['Set']['domainName'][2]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['domainName'][2]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="password" class="form-control" value="password" name="confirm_keystore_pass">
			</div>

			<div class="form-group">
				<label>{{ data['Set']['domainName'][3]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['domainName'][3]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" value="000.000.000.000" name="cleared_ip">
			</div>

			<div class="form-group">
				<label>{{ data['Set']['domainName'][4]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['domainName'][4]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="allow_more_ip" value="no" checked> No
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="allow_more_ip" value="yes"> Yes
				  </label>
				</div>
			</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page 8 end-->

									<!-- Page 9: CERTIFICATE-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['certificate'][0]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['certificate'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="generate_cert_sign_request" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="generate_cert_sign_request" value="no"> No
				  </label>
				</div>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['certificate'][1]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['certificate'][1]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" value="0.0.0.0" name="host_ip">
			</div>

			<div class="form-group">
				<label>{{ data['Set']['certificate'][2]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['certificate'][2]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" value="8.8.8.8" name="host_route_ip">
			</div>

			<div class="form-group">
				<label>{{ data['Set']['certificate'][3]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['certificate'][3]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="is_external_route_ip" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="is_external_route_ip" value="no"> No
				  </label>
				</div>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['certificate'][4]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['certificate'][4]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" placeholder="idp peer node" name="FQDN">
			</div>

			<div class="form-group">
				<label>{{ data['Set']['certificate'][5]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['certificate'][5]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" placeholder="certificate" name="cert_keystore">
			</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page nine end-->

										<!-- Page 10: GLOBUS -->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['globus'][0]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['globus'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="install_globus" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="install_globus" value="no"> No
				  </label>
				</div>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['globus'][1]['title'] }}
					<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['globus'][1]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="backup_globus" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="backup_globus" value="no"> No
				  </label>
				</div>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['globus'][2]['title'] }}
					<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['globus'][2]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="reg_gridftp" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="reg_gridftp" value="no"> No
				  </label>
				</div>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['globus'][3]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['globus'][3]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="reg_myProxi" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="reg_myProxi" value="no"> No
				  </label>
				</div>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['globus'][4]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['globus'][4]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="text" class="form-control" value="Thor" name="globus_usr">
			</div>

			<div class="hide_pass" class="hide_pass" class="form-group">
				<label>{{ data['Set']['globus'][5]['title'] }}
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['globus'][5]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<input type="password" class="form-control" value="password" name="globus_pass">
			</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page 10 end-->

									<!-- Page 11: OPENID-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['openid'][0]['title'] }}
					<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['openid'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="install_openid" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="install_openid" value="no"> No
				  </label>
				</div>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['openid'][1]['title'] }} 
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['openid'][1]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="backup_openid" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="backup_openid" value="no"> No
				  </label>
				</div>
			</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page 11 end-->

									<!-- Page 12: SECURITY-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['security'][0]['title'] }} 
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['security'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="install_security" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="install_security" value="no"> No
				  </label>
				</div>
			</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page 12 end-->

										<!-- Page 13: IDP-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['idp'][0]['title'] }} 
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['idp'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="install_services" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="install_services" value="no"> No
				  </label>
				</div>
			</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page 13 end-->

										<!-- Page 14: SEARCH-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['search'][0]['title'] }} 
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['search'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="install_search" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="install_search" value="no"> No
				  </label>
				</div>
			</div>

			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page 14 end-->

										<!-- Page 15: SECURITY_SCHEMA-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['security_schema'][0]['title'] }} 
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['security_schema'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="install_schema" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="install_schema" value="no"> No
				  </label>
				</div>
			</div>

			<div class="form-group">
				<label>{{ data['Set']['security_schema'][1]['title'] }} 
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['security_schema'][1]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="backup_schema" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="backup_schema" value="no"> No
				  </label>
				</div>
			</div>
			<!-- Next and Prev Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<input type="button" value="Next" class="btn btn-default next">
		</div> <!-- Page 15 end-->

										<!-- Page 16: CERTS-->
		<div class="page">
			<div class="form-group">
				<label>{{ data['Set']['certs'][0]['title'] }} 
				<a href="#" data-toggle="popover" data-trigger="focus" data-content="{{ data['Set']['certs'][0]['tip'] }}"><img src="{{ data['Helper']['toolTipIMG'] }}" height="16" width="16"/></a>
				</label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				  		<input class="form-check-input" type="radio" name="re_generate_certificate" value="yes" checked> Yes
				  </label>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">
				    	<input class="form-check-input" type="radio" name="re_generate_certificate" value="no"> No
				  </label>
				</div>
			</div>

			<!-- Next and Submit Button-->
			<input type="button" value="Prev" class="btn btn-default prev">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div> <!-- Page 16 end-->

	</form>
{% endblock %}
