{% extends 'base_layout.html' %}

{% block body %}
	<div class="jumbotron">
		<h1>About</h1>
		<p>Etiam vel risus nec nulla hendrerit rhoncus eget quis mi. Fusce nisi ante, dignissim at lacus ac, imperdiet malesuada sapien. In lobortis condimentum diam, quis molestie odio pretium eget. Praesent vitae nulla in risus ultrices interdum. Sed auctor est purus, vitae rhoncus odio efficitur a. Nunc sagittis elit enim, a bibendum erat ornare rhoncus. Aliquam at leo vel erat venenatis ultrices quis a libero. Suspendisse nec finibus neque. Nunc sem massa, euismod et metus sit amet, pharetra vulputate enim. In feugiat vitae elit id pulvinar. Suspendisse mollis lacus sem, vel eleifend dui volutpat sed.</p>
	</div>
{% endblock %}